<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pierwszy</title>
</head>
<body>
    <h2>To jest pierwsza strona</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore fugit necessitatibus omnis quia, quibusdam quis quos repellendus soluta vero. Aliquam dolore ea explicabo impedit itaque laborum, repellendus sed sunt.
    <br/>
    <br/>
<!--    Przejdź do strony <a href="/links/second">drugiej</a>.-->
    Przejdź do strony <a href="{% url 'second'%}">drugiej</a>.
</body>
</html>