<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drugi</title>
</head>
<body>
    <h2>To jest druga strona</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cumque dignissimos dolor ea et inventore iste, odio officia perspiciatis quae quaerat recusandae reiciendis rerum soluta ullam ut velit voluptatem, voluptatibus!
    <br/>
    <br/>
<!--    Przejdź do strony <a href="/links/first">pierwszej</a>.-->
    Przejdź do strony <a href="{% url 'third' 'abc' %}">trzeciej</a>.
</body>
</html>